echo '
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"
' > Pipfile

git add Pipfile
git commit -m "Fix Pipfile syntax"
git push origin main
